<!-- <h1>Welcome to</h1> --> <h1 id="welcome"> <strong>StreamSearch</strong></h1>
<div id="main">
  <h3>Browse Spotify, Apple Music, and Rhapsody to find where your favorite artists are streaming</h3>
</div>
<!-- <div id="search-instructions">
  <h3>Search by Artist, Album, or Song</h3>
</div> -->

<div class="search-bar">

  <%= form_tag "/search" do %>
    <span><%= text_field_tag :query, nil, placeholder: 'Search by artist...', :id => "search" %></span>
    <span><%#= image_submit_tag "search.png", class: 'searchTag' %></span>
    <span><%= submit_tag :Search, class: 'searchTag' %></span>
 
  <% end %>
</div>

<!-- <div class="song-search-bar">

  <%#= form_tag "/search" do %>
    <span><%#= text_field_tag :query, nil, placeholder: 'Search by song...', :id => "search" %></span>
    <span><%#= image_submit_tag "search.png", class: 'searchTag' %></span>
    <span><%#= submit_tag :Search, class: 'searchTag' %></span>
 
  <%# end %>
</div> -->

<div class="results">
  <div id="spotty">
    <div class="spotifyResults">
      <div id="spotify">
        <%= image_tag ("spotify2.png"), :class => "icon" %> <strong>Spotify</strong>
      </div>
    </div><br><br><br>
      <div class="searchResults">
        <% if @spotResults %>
          <% @spotResults["artists"]["items"].each do |spotResult| %>
            <div class="artistSpotAlbum">
              <ul>
                <div class="links">
                  <li id="nameDisplay"><%= spotResult["name"] %></li>
                  <li>
                  <%= link_to "Show Albums", spotify_albums_path(spotResult["id"]), :remote => true, :class => "showSpotAlbums" %></li>
                </div>
              </ul>  
            </div>
            <div id="spotifyAlbums" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';"></div>
          <% end %>
          <%# else %>
        <!-- <li>Sorry, there are no results for this search</li> -->
        <% end %>
      </div>
    </div>


  <div id="appy">
    <div class="appleResults">
      <div id="apple">
        <%= image_tag ("apple.png"), :class => "icon" %><strong>Apple Music</strong><a href="#" id="top">Back to Search</a>
      </div>
    </div><br><br><br>
      <div class="searchResults">
        <% if @results %>
          <% @results.each do |result| %>
            <div class="artistAppleAlbum">
              <ul>  
                <div class="links">
                  <li id="nameDisplay"><%= result["artistName"] %></li>
                  <li><%= link_to "Show Albums", apple_albums_path(result["artistId"]), :remote => true, :class => "showAppleAlbums" %></li>
                </div>
              </ul>
            </div>
            <div id="appleAlbums" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';"></div>
          
          <% end %>
         <!--  <%# else %>
        <li>Sorry, there are no results for this search</li> -->
        <% end %>
      </div>
    </div>

  <div class="rhapResults">
    <div id="rhapsody">
      <%= image_tag ("rhapsody.png"), :class => "icon" %><strong>Rhapsody</strong>
    </div>
  </div><br><br><br>
  <div class="searchResults">
    <% if @rhapResults %>
      <% @rhapResults.each do |rhapResult| %>
        <div class="artistRhapAlbum">
          <ul>
            <div class="links">
              <li id="nameDisplay"><%= rhapResult["name"] %></li>
             <!--  <li><a href="albums/<%#= rhapResult["id"].gsub(/[^0-9]/, '') %>">Albums</a></li> -->
              <li><%= link_to "Show Albums", rhapsody_albums_path(rhapResult["id"].gsub(/[^0-9]/, '')), :remote => true, :class => "showRhapAlbums" %></li>
            </div>
          </ul>
        </div>
        <div id="rhapsodyAlbums" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';"></div>
        
    <% end %>
        <%# else %>
       <!--  <li>Sorry, there are no results for this search</li> -->
      <% end %>


  <!-- </div> -->
</div>



